<div class="container">
    <h2> Adding Employee form</h2>
    <form>
        <form>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input [(ngModel)]="employee.firstName" placeholder="firstname" type="text" class="form-control"
                    >
                <!-- <small class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>

            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input [(ngModel)]="employee.lastName" placeholder="lastname" type="text" class="form-control"
                    >
                <!-- <small class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>

            <div class="form-group">
                <label for="email"> Email </label>
                <input [(ngModel)]="employee.email" type="email" class="form-control"
                    placeholder="Enter email">
                <!-- <small class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>

            <div class="form-group">
                <label for="mobile">phone</label>
                <input [(ngModel)]="employee.mobile" placeholder="mob" type="number" class="form-control"
                >
                <!-- <small class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>

            <div class="form-group">
                <button (click)="createEmployee()"  type="submit" class="btn btn-primary">Add </button>
            </div>
        </form>
    </form>
</div>